body {
    font-family: Arial, sans-serif;
    margin: 15;
    padding: 15;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#hero, #education {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

#hero h1 {
    margin-bottom: 20px;
    color: #151414;
}

#hero p {
    color: #1f1e1e;
    line-height: 1.6;
}

#education h2 {
    margin-bottom: 20px;
    color:#1f1e1e;
}

.edu {
    text-align: left;
}

.edu-det {
    margin-bottom: 10px;
    color:#1f1e1e;
}
